<html lang="ru">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цены игр</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-4.4.1/bootstrap.bundle.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>

    <!-- noty -->
    <script src="{{ url_for('static', filename='js/jquery.noty.packaged.min.js') }}"></script>

    <script src="{{ url_for('static', filename='chartjs-4.1.1/chart.umd.js') }}"></script>

    <style>
        .noselect {
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }

        #back-top {
            position: fixed;
            z-index: 9999;
            bottom: 10px;
            right: 10px;
        }
        #back-top a {
            width: 100px;
            color: black;
            display: block;
            background-color: lightgray;
            text-align: center;
            font: 20px/100% Arial, Helvetica, sans-serif;
            text-decoration: none;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
            line-height: 30px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        #back-top a:hover {
            background-color: gray;
        }

        table.dataTable tbody tr.selected {
            background-color: #b0bed9
        }

        .dataTables_length > label,
        .dataTables_length > label > select {
            width: 100% !important;
        }
        /* Убираем пустое место над результатом фильтра в таблицах */
        .dataTables_info {
            padding-top: 0px !important;
        }

        #fixed_right_panel {
            font-size: 0.9rem;
        }
            #fixed_right_panel .form-group > label {
                margin-bottom: 0.1rem;
            }
            #fixed_right_panel hr {
                background-color: white !important;
            }

        .card .card-header {
            border: 0;
            border-radius: 2px;
            padding: 0;
        }

        .card .card-header .btn-header-link {
            background: #6c757d;
            color: white;
            display: block;
            text-align: left;
            box-shadow: 0 0 0 0 !important;
        }
        #more_actions .card .card-header .btn-header-link {
            background: #6c757d;
            color: white;
        }

        .card .card-header .btn-header-link.collapsed:after {
            content: "⮝";
        }

        .card .card-header .btn-header-link:after {
            content: "⮟";
            font-weight: 900;
            float: right;
        }

        .chart-wrapper {
            width: 300px;
            height: 300px;
        }
    </style>

    <script>
        var IMG_STEAM_SEARCH = "{{ url_for('static', filename='images/steam_favicon.ico') }}";
        var IMG_YANDEX_SEARCH = "{{ url_for('static', filename='images/yandex_favicon.ico') }}";
        var IMG_GOOGLE_SEARCH = "{{ url_for('static', filename='images/google_favicon.ico') }}";
        var IMG_GOOGLE_SEARCH_EN = "{{ url_for('static', filename='images/english-icon.svg') }}";

        const FINISHED_GAME = '{{ FINISHED_GAME }}';
        const FINISHED_WATCHED = '{{ FINISHED_WATCHED }}';
        const KIND_BY_TITLE = {
            {{ FINISHED_GAME }}: '{{ TITLE_FINISHED_GAME }}',
            {{ FINISHED_WATCHED }}: '{{ TITLE_FINISHED_WATCHED }}',
        }
    </script>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body id="#top">
    <p id="back-top" class="mb-0">
        <a href="#top">Наверх</a>
    </p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <nav id="tabs">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-stats-tab" data-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-stats" aria-selected="true">Статистика</a>
                        <a class="nav-item nav-link" id="nav-debug-tab" data-toggle="tab" href="#nav-debug" role="tab" aria-controls="nav-debug" aria-selected="false">Отладка</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-stats" role="tabpanel" aria-labelledby="nav-stats-tab">
                        <table class="mt-1" style="table-layout: auto">
                            <tr>
                                <td class="pr-2">Пройденных игр:</td>
                                <td class="number_finished_games"></td>
                                <td class="pl-5"></td>
                                <td class="pr-2">Итого по пройденным играм:</td>
                                <td class="total_price_finished_games add_ccy"></td>
                            </tr>
                            <tr>
                                <td class="pr-2">Просмотренных игр:</td>
                                <td class="number_finished_watched_games"></td>
                                <td></td>
                                <td class="pr-2">Итого по просмотренным играм:</td>
                                <td class="total_price_finished_watched_games add_ccy"></td>
                            </tr>
                            <tr>
                                <td class="pr-2">Всего игр:</td>
                                <td class="sum_number_games"></td>
                                <td></td>
                                <td class="pr-2">Общая сумма:</td>
                                <td class="sum_total_price_games add_ccy"></td>
                            </tr>
                        </table>
                        <div id="charts" class="container-fluid p-0 mt-2">
                            <div class="accordion">
                                <div class="card">
                                    <div class="card-header" id="charts_head">
                                        <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#charts_body" aria-expanded="true" aria-controls="charts_body">Графики</a>
                                    </div>
                                    <div id="charts_body" class="collapse" aria-labelledby="charts_head" data-parent="#charts">
                                        <div class="card-body p-0 pt-2">
                                            <div class="row">
                                                <div class="chart-wrapper">
                                                    <canvas id="chartKindBy"></canvas>
                                                </div>
                                                <div class="chart-wrapper">
                                                    <canvas id="chartPlatformByNumber"></canvas>
                                                </div>
                                                <div class="chart-wrapper">
                                                    <canvas id="chartPlatformByPrice"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-debug" role="tabpanel" aria-labelledby="nav-debug-tab">
                        <table class="mt-1" style="table-layout: auto">
                            <tr><td class="pr-3">Последняя проверка игр была:</td><td>{{ last_run_date }}</td></tr>
                            <tr><td class="pr-3">DB_FILE_NAME:</td><td>{{ DB_FILE_NAME }}</td></tr>
                            <tr><td class="pr-3 align-top">BACKUP_DIR_LIST:</td><td>
                                {% for path in BACKUP_DIR_LIST %}
                                    <div>{{ path }}</div>
                                {% endfor %}
                            </td></tr>
                        </table>
                    </div>
                </div>

                <br>

                <h4 id="finished_game_caption_table" class="text-center">{{ TITLE_FINISHED_GAME }} <div class="finished_game_statistic" style="display:inline-block;"></div></h4>
                <table id="finished_game" class="table table-striped table-bordered w-100">
                    <thead class="thead-dark"></thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align:right">Итого:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <br>

                <h4 id="finished_watched_game_caption_table" class="text-center">{{ TITLE_FINISHED_WATCHED }} <div class="finished_watched_game_statistic" style="display:inline-block;"></div></h4>
                <table id="finished_watched_game" class="table table-striped table-bordered w-100">
                    <thead class="thead-dark"></thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th style="text-align:right">Итого:</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <br>
                <br>
            </div>

            <div id="fixed_right_panel" class="col-3 p-0 bg-dark text-white">
                <div class="sticky-top p-2 vh-100 overflow-auto">
                    <div class="custom-control custom-checkbox">
                        <input id="checkbox_visible_finished_games" class="custom-control-input" type="checkbox" onclick="set_visible_finished_game($(this).is(':checked'))" checked>
                        <label for="checkbox_visible_finished_games" class="custom-control-label">
                            {{ TITLE_FINISHED_GAME }}
                        </label>
                    </div>
                    <button class="btn btn-secondary btn-sm btn-block" onclick="document.location.href='#finished_game_caption_table'">
                        Перейти к таблице
                    </button>

                    <hr>

                    <div class="custom-control custom-checkbox">
                        <input id="checkbox_visible_finished_watched_games" class="custom-control-input" type="checkbox" onclick="set_visible_finished_watched_game($(this).is(':checked'))" checked/>
                        <label for="checkbox_visible_finished_watched_games" class="custom-control-label">
                            {{ TITLE_FINISHED_WATCHED }}
                        </label>
                    </div>
                    <button class="btn btn-secondary btn-sm btn-block" onclick="document.location.href='#finished_watched_game_caption_table'">
                        Перейти к таблице
                    </button>

                    <hr>

                    <button class="btn btn-outline-success btn-sm btn-block" onclick="run_check()">
                        <img class="run_check loading" style="display:none" src="{{ url_for('static', filename='images/loading.gif') }}"/>
                        Запуск проверки новых игр
                    </button>
                    <hr>

                    <form id="form__set_price" method="post" action="/set_price">
                        <h6>Установка цены у игры</h6>
                        <div class="form-group">
                            <label for="form_name">Название игры:</label>
                            <input id="form_name" class="form-control form-control-sm" type="text" name="name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="form_price">Цена:</label>
                            <input id="form_price" class="form-control form-control-sm" type="text" name="price" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Установить цену</button>
                    </form>

                    <hr>

                    <div class="container p-0">
                        <div class="accordion" id="more_actions">
                            <div class="card bg-dark text-white">
                                <div class="card-header" id="more_actions_head">
                                    <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#more_actions_body"
                                        aria-expanded="true" aria-controls="more_actions_body">Больше действий</a>
                                </div>
                                <div id="more_actions_body" class="collapse bg-dark text-white" aria-labelledby="more_actions_head" data-parent="#more_actions">
                                    <div class="card-body p-0 pt-2">
                                        <form id="form__rename_game" method="post" action="/rename_game">
                                            <h6>Изменение названия игры</h6>
                                            <div class="form-group">
                                                <label for="form_old_name">Старое название:</label>
                                                <input id="form_old_name" class="form-control form-control-sm game-name" type="text" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="form_new_name">Новое название:</label>
                                                <input id="form_new_name" class="form-control form-control-sm" type="text" name="new_name" required>
                                            </div>
                                            <input type="hidden" class="game-id" name="id"/>
                                            <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Изменить название</button>
                                        </form>

                                        <hr>
                                        <form id="form__check_price" method="post" action="/check_price">
                                            <h6>Вызов проверки цены у игры</h6>
                                            <div class="form-group">
                                                <label for="form_check_price">Название игры:</label>
                                                <input id="form_check_price" class="form-control form-control-sm game-name" type="text" name="name" readonly>
                                            </div>
                                            <input type="hidden" class="game-id" name="id"/>
                                            <button type="submit" class="btn btn-warning btn-sm btn-block">Проверить цену</button>
                                        </form>

                                        <hr>
                                        <form id="form__check_price_all_non_price_games" action="/check_price_all_non_price_games">
                                            <h6>Вызов проверки цены у всех игр без цены</h6>
                                            <div class="form-group">
                                                <img class="loading" style="display:none" src="{{ url_for('static', filename='images/loading.gif') }}"/>
                                            </div>
                                            <button type="submit" class="btn btn-warning btn-sm btn-block">Проверить цены всех игр</button>
                                        </form>

                                        <hr>
                                        <form id="form__delete_game" method="post" action="/delete_game">
                                            <h6>Удаление игры</h6>
                                            <div class="form-group">
                                                <label for="form__delete_game__name">Название игры:</label>
                                                <input id="form__delete_game__name" class="form-control form-control-sm game-name" type="text" name="name" readonly>
                                            </div>
                                            <input type="hidden" class="game-id" name="id"/>
                                            <button type="submit" class="btn btn-danger btn-sm btn-block">Удалить</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
