<html lang="ru">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <title>Цены игр / Price of games</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>

    <!-- noty -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.noty.packaged.min.js') }}"></script>

    <!-- clearsearch -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.clearsearch.js') }}"></script>

    <style type="text/css">
        /* Увеличим заголовок таблиц */
        table > caption {
            font-size: 150%;
        }

        #finished_game th, #finished_watched_game th {
            font-size: 120%;
        }

        #finished_game, #finished_watched_game {
            width: 75%;
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
            #finished_game td, #finished_game th, #finished_watched_game td, #finished_watched_game th {
                border: 1px double #333; /* Рамка таблицы */
            }

        .total_info_table {
            width: 75%;
            border: 0px double #333; /* Рамка вокруг таблицы */
            border-collapse: separate; /* Способ отображения границы */
            border-spacing: 0px; /* Расстояние между ячейками */
        }
            .total_info_table td, .total_info_table th{
                padding: 1px; /* Поля вокруг текста */
                border: 0px double #333; /* Рамка таблицы */
            }

        .text_align_left {
             text-align: left;
        }

        /* Небольшой отступ внутри ячеек */
        td, th {
            padding: 5px;
        }

        .price_is_none {
            background-color: lightgray;
        }

        #top_right_fixed_panel {
            position: fixed; /* Фиксированное положение */
            right: 5px; /* Расстояние от правого края окна браузера */
            top: 10px; /* Расстояние сверху */
            bottom: 10px;  /* Расстояние снизу */

            width: 20%;
            padding: 10px; /* Поля вокруг текста */

            background: #555; /* Цвет фона */
            border: #666; /* Параметры рамки */
            color: white; /* Цвет текста */

            overflow-y: auto; /* Добавление вертикального скрола */

            z-index: 999;
        }
            #top_right_fixed_panel input[type="text"], .button_show_more_actions {
                width: 95%;
            }
            #top_right_fixed_panel label {
                color: white; /* Цвет текста */
            }

        .button_show_more_actions {
            background: #777; /* Цвет фона */
            border: solid 2px #999; /* Параметры рамки */
            text-align: center;
        }
            .button_show_more_actions:hover {
                background: #669; /* Цвет фона */
                cursor: pointer;
            }
            .button_show_more_actions[is_checked="1"] {
                background: #669; /* Цвет фона */
            }

        .noselect {
          -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
             -khtml-user-select: none; /* Konqueror HTML */
               -moz-user-select: none; /* Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently
                                          supported by Chrome and Opera */
        }

        .input_search {
            width: 75%;
            font-size: 16px; /* Increase font-size */
        }

        .table_caption {
            width: 75%;
            font-size: 150%; /* Размер шрифта в процентах */
            text-align: center;
        }

        /* Для добавления отступов между заголовком таблицы, input поиска и самой таблицы */
        .block_caption_search > div {
            margin-bottom: 7px;
        }

        #back-top {
            position: fixed;
            z-index: 999;
            bottom: 10px;
            right: 10px;
        }
        #back-top a {
            width: 100px;
            color: black;
            display: block;
            background-color: lightgray;
            text-align: center;
            font: 20px/100% Arial, Helvetica, sans-serif;
            text-decoration: none;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            transition: 1s;
            line-height: 30px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        #back-top a:hover {
            background-color: gray;
        }

    </style>
</head>

<body id="top">
    <p id="back-top">
        <a href="#top"><span></span>Наверх</a>
    </p>

    {% if has_duplicates %}
    <p><font size="20" color="red">АХТУНГ! Найдены дубликаты!</font></p>
    {% endif %}

    <table class="total_info_table">
        <colgroup>
            <col style="width: 250px;">
        </colgroup>

        <tr><td>Последняя проверка игр была:</td><td>{{ last_run_date }}</td></tr>
        <tr><td colspan="2"><hr></td></tr>
        <tr><td>TEST_MODE:</td><td>{{ TEST_MODE }}</td></tr>
        <tr><td>DB_FILE_NAME:</td><td>{{ DB_FILE_NAME }}</td></tr>
        <tr><td>BACKUP_GIST:</td><td>{{ BACKUP_GIST }}</td></tr>
        {% if BACKUP_GIST %}
        <tr><td>BACKUP_DIR_LIST:</td><td>{{ BACKUP_DIR_LIST }}</td></tr>
        {% endif %}
        <tr><td colspan="2"><hr></td></tr>

        <tr><td>Итого по пройденным играм:</td><td class="total_price_finished_games"></td></tr>
        <tr><td>Итого по просмотренным играм:</td><td class="total_price_finished_watched_games"></td></tr>
        <tr><td>Общая сумма:</td><td class="sum_total_price_games"></td></tr>
        <tr><td colspan="2"><hr></td></tr>

        <tr><td>Пройденных игр:</td><td class="number_finished_games"></td></tr>
        <tr><td>Просмотренных игр:</td><td class="number_finished_watched_games"></td></tr>
        <tr><td>Всего игр:</td><td class="sum_number_games"></td></tr>
        <tr><td colspan="2"><hr></td></tr>

        <tr>
            <td>
                <table class="text_align_left">
                    <tr><th>Фильтрация</th></tr>
                    <tr>
                        <td>
                            <table>
                                <tr><td><input id="radio_show_all_games" class="on_common_filter_click" name="radio_show_game" type="radio" checked/><label for="radio_show_all_games"> Показывать все игры</label></td></tr>
                                <tr><td><input id="radio_show_games_with_price" class="on_common_filter_click" name="radio_show_game" type="radio"/><label for="radio_show_games_with_price"> Показывать игры с ценой</label></td></tr>
                                <tr><td><input id="radio_show_games_without_price" class="on_common_filter_click" name="radio_show_game" type="radio"/><label for="radio_show_games_without_price"> Показывать игры без цены</label></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="text_align_left">
                    <tr><th>Сортировка</th></tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><input id="radio_sort_by_name" class="on_common_filter_click" name="radio_sort_by" value="sort_by_name" type="radio"/><label for="radio_sort_by_name"> По названию</label></td>
                                    <td><input id="radio_sort_by_name__desc" class="on_common_filter_click" name="radio_sort_by" value="sort_by_name_desc" type="radio"/><label for="radio_sort_by_name__desc"> По названию (по убыванию)</label></td>
                                </tr>
                                <tr>
                                    <td><input id="radio_sort_by_append_date" class="on_common_filter_click" name="radio_sort_by" value="sort_by_append_date" type="radio"/><label for="radio_sort_by_append_date"> По дате добавления</label></td>
                                    <td><input id="radio_sort_by_append_date__desc" class="on_common_filter_click" name="radio_sort_by" value="sort_by_append_date_desc" type="radio" checked/><label for="radio_sort_by_append_date__desc"> По дате добавления (по убыванию)</label></td>
                                </tr>
                                <tr>
                                    <td><input id="radio_sort_by_price" class="on_common_filter_click" name="radio_sort_by" value="sort_by_price" type="radio"/><label for="radio_sort_by_price"> По цене</label></td>
                                    <td><input id="radio_sort_by_price__desc" class="on_common_filter_click" name="radio_sort_by" value="sort_by_price_desc" type="radio"/><label for="radio_sort_by_price__desc"> По цене (по убыванию)</label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td colspan="2"><hr></td></tr>
    </table>
    <br><br>

    <div id="top_right_fixed_panel">
        <table>
            <tr>
                <td>
                    <input id="checkbox_visible_finished_games" type="checkbox" onclick="set_visible_finished_game($(this).is(':checked'))" checked/>
                    <label for="checkbox_visible_finished_games"> {{ TITLE_FINISHED }}</label>
                </td>
                <td>
                    <button onclick="document.location.href='#finished_game_caption_table'">Перейти</button>
                </td>
            </tr>

            <tr>
                <td>
                    <input id="checkbox_visible_finished_watched_games" type="checkbox" onclick="set_visible_finished_watched_game($(this).is(':checked'))" checked/>
                    <label for="checkbox_visible_finished_watched_games"> {{ TITLE_FINISHED_WATCHED }}</label>
                </td>
                <td>
                    <button onclick="document.location.href='#finished_watched_game_caption_table'">Перейти</button>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button onclick="run_check()">Запуск проверки новых игр</button>
                </td>
            </tr>
        </table>

        <hr>

        <form id="form__set_price" method="post" action="/set_price">
            <b>Установка цены у игры:</b>
            <p>Название:<br><input id="form_name" type="text" name="name" required></p>
            <p>Цена:<br><input id="form_price" type="text" name="price" required></p>
            <p><input type="submit" value="Установить цену"></p>
        </form>

        <hr>
        <form id="form__rename_game" method="post" action="/rename_game">
            <b>Изменение названия игры:</b>
            <p>Старое название:<br><input id="form_old_name" type="text" name="old_name" required></p>
            <p>Новое название:<br><input id="form_new_name" type="text" name="new_name" required></p>
            <p><input type="submit" value="Изменить название"></p>
        </form>

        <hr>

        <br><br>
        <div class="button_show_more_actions noselect" onclick="show_more_actions(this);" is_checked="0">Показать больше действий</div>
        <br>
        <div class="more_actions" style="display:none">
            <form id="form__check_price" method="post" action="/check_price">
                <b>Вызов проверки цены у игры:</b>
                <p>Название игры:<br><input id="form_check_price" type="text" name="name" required></p>
                <p><input type="submit" value="Проверить цену"></p>
            </form>

            <hr>
            <form id="form__check_price_all_non_price_games" action="/check_price_all_non_price_games">
                <b>Вызов проверки цены у всех игр без цены:</b>
                <p>
                    <img class="loading" style="display:none" src="{{ url_for('static', filename='images/loading.gif') }}"/>
                    <input type="submit" value="Проверить цены всех игр"/>
                </p>
            </form>

            <hr>
            <form id="form__delete_game" method="post" action="/delete_game">
                <b>Удаление игры:</b>
                <p>
                    <select name="kind">
                        <option value="{{ FINISHED }}">{{ TITLE_FINISHED }}</option>
                        <option value="{{ FINISHED_WATCHED }}">{{ TITLE_FINISHED_WATCHED }}</option>
                   </select>
                </p>
                <p>Название игры:<br><input id="form__delete_game__name" type="text" name="name" required></p>
                <p><input type="submit" value="Удалить"/></p>
            </form>
        </div>
    </div>

    <div id="finished_game_caption_table" class="block_caption_search">
        <div class="table_caption">{{ TITLE_FINISHED }} <div class="finished_game_statistic" style="display:inline-block;"></div></div>
        <div>
            <input type="text" id="input_finished_game" class="input_search clearable" placeholder="Поиск игр...">
        </div>
    </div>
    <table id="finished_game">
        <colgroup>
           <col span="1" style="width: 60%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
        </colgroup>
    </table>
    <br><br><br>

    <div id="finished_watched_game_caption_table" class="block_caption_search">
        <div class="table_caption">{{ TITLE_FINISHED_WATCHED }} <div class="finished_watched_game_statistic" style="display:inline-block;;"></div></div>
        <div>
            <input type="text" id="input_finished_watched_game" class="input_search clearable" placeholder="Поиск игр...">
        </div>
    </div>
    <table id="finished_watched_game">
        <colgroup>
           <col span="1" style="width: 60%;">
           <col span="1" style="width: 15%;">
           <col span="1" style="width: 15%;">
        </colgroup>
    </table>

    <script>
        $.noty.defaults.theme = 'defaultTheme';
        $.noty.defaults.layout = 'bottomRight';
        $.noty.defaults.timeout = 6000;

        function run_check() {
            $.ajax({
                url: "/run_check",
                method: "POST",
                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    let ok = data.status == 'ok';
                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });
        }

        $(document).ready(function() {
            // Вызов поиска
            $('.input_search').on('input', function(){
                common_filter();
            });

            // hide #back-top first
            $("#back-top").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 250) {
                        $('#back-top').fadeIn();
                    } else {
                        $('#back-top').fadeOut();
                    }
                });

                // scroll body to 0px on click
                $('#back-top a').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });

            $(".on_common_filter_click").click(function() {
                common_filter();
            });
        });

        function set_visible_finished_game(visible) {
            if (visible) {
                $('#finished_game').show();
                $('#input_finished_game').show();

            } else {
                $('#finished_game').hide();
                $('#input_finished_game').hide();
            }
        }

        function set_visible_finished_watched_game(visible) {
            if (visible) {
                $('#finished_watched_game').show();
                $('#input_finished_watched_game').show();

            } else {
                $('#finished_watched_game').hide();
                $('#input_finished_watched_game').hide();
            }
        }

        // init plugin clearsearch
        $('.clearable').clearSearch({
            callback: function() {
                common_filter();
            }
        });

        function show_more_actions(button) {
            var more_actions = $('#top_right_fixed_panel .more_actions');

            var checked = parseInt($(button).attr('is_checked'));
            checked = checked == 1 ? 0 : 1;

            $(button).attr('is_checked', checked);

            if (checked === 1) {
                more_actions.show();

            } else {
                more_actions.hide();
            }
        }

        /**
         * Number.prototype.toMoney(n, x, s, c)
         *
         * Example: 12345678.9.toMoney(2, 3, ' ', ',')  // "12 345 678,90"
         *
         * @param integer n: length of decimal
         * @param integer x: length of whole part
         * @param mixed   s: sections delimiter
         * @param mixed   c: decimal delimiter
         */
        Number.prototype.toMoney = function(n, x, s, c) {
            var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')';
            var num = this.toFixed(Math.max(0, ~~n));

            return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
        };

        /**
         *   Example: 12345678.9.toPrettyPrice()  // "12 345 678,90"
         */
        function toPrettyPrice(num) {
            return num.toMoney(2, 3, ' ', ',');
        }

        // Функция перебирает строки таблицы оценивает их, и если они не подходит прячет, иначе добавляет в список.
        // Цель -- фильтр таблицы и заполнение списка строками, оставшимися видимыми после фильтра
        function fill_list_from_rows(rows, list) {
            var is_radio_show_all_games_checked = document.getElementById('radio_show_all_games').checked;
            var is_radio_show_games_with_price_checked = document.getElementById('radio_show_games_with_price').checked;
            var is_radio_show_games_without_price_checked = document.getElementById('radio_show_games_without_price').checked;

            for (var i = 0; i < rows.length; i++) {
                var tr = rows[i];

                if (is_radio_show_all_games_checked) {
                    list.push(tr);

                } else if (is_radio_show_games_with_price_checked) {
                    // Если цена не указана и хотим видить игры с ценой
                    if (tr.classList.contains("price_is_none")) {
                        tr.style.display = "none";
                    } else {
                        list.push(tr);
                    }

                } else if (is_radio_show_games_without_price_checked) {
                    // Если цена указана и хотим видить игры без ценой
                    if (!tr.classList.contains("price_is_none")) {
                        tr.style.display = "none";
                    } else {
                        list.push(tr);
                    }
                }
            }
        }

        // Функция перебирает элементы в списке и ищет в них строку, если не найдено, прячет их строку
        function filter_rows_by_text(text, rows) {
            // Если значение в фильтре есть, есть смысл перебора строк для вторичной фильтрации
            if (text != "") {
                text = text.toLowerCase();

                rows.forEach(function(tr) {
                    tr = $(tr);
                    tr.toggle(tr.text().toLowerCase().indexOf(text) > -1);
                });
            }
        }

        function common_filter() {
            fillGameTables();

            var finished_game_table = document.getElementById('finished_game');
            var finished_watched_game_table = document.getElementById('finished_watched_game');

            var finished_game_table_rows = finished_game_table.getElementsByClassName('game_row');
            var finished_watched_game_table_rows = finished_watched_game_table.getElementsByClassName('game_row');

            // Сначала нужно сделать все строки таблицы видимыми
            for (var i = 0; i < finished_game_table_rows.length; i++) {
                finished_game_table_rows[i].style.display = "";
            }
            for (var i = 0; i < finished_watched_game_table_rows.length; i++) {
                finished_watched_game_table_rows[i].style.display = "";
            }

            // Теперь применим первичный фильтр -- по наличию цены: все игры, с ценой и без цены
            var filter_finished_game_table_rows = [];
            var filter_finished_watched_game_table_rows = [];

            // Скрытие строк по фильтру и заполнение списка оставшимися строками
            fill_list_from_rows(finished_game_table_rows, filter_finished_game_table_rows);
            fill_list_from_rows(finished_watched_game_table_rows, filter_finished_watched_game_table_rows);

            // Вторичный фильтр по тексту
            var input_finished_game_value = document.getElementById('input_finished_game').value;
            filter_rows_by_text(input_finished_game_value, filter_finished_game_table_rows);

            var input_finished_watched_game_value = document.getElementById('input_finished_watched_game').value;
            filter_rows_by_text(input_finished_watched_game_value, filter_finished_watched_game_table_rows);
        }

    function update_total_price_all_tables() {
        var total_price_of_finished_game = 0;
        $("#finished_game .price").each(function(i) {
            var price_str = $(this).text();
            total_price_of_finished_game += parseFloat(price_str);
        });

        var total_price_of_finished_watched_game = 0;
        $("#finished_watched_game .price").each(function(i) {
            var price_str = $(this).text();
            total_price_of_finished_watched_game += parseFloat(price_str);
        });

        var pretty_total_price_of_finished_game = toPrettyPrice(total_price_of_finished_game);
        var pretty_total_price_of_finished_watched_game = toPrettyPrice(total_price_of_finished_watched_game);
        var sum_total = toPrettyPrice(total_price_of_finished_game + total_price_of_finished_watched_game);

        // Установка итого цен
        $('#finished_game .total_price_finished_games').html(pretty_total_price_of_finished_game);
        $('.total_info_table .total_price_finished_games').html(pretty_total_price_of_finished_game + " руб.");

        $('#finished_watched_game .total_price_finished_watched_games').html(pretty_total_price_of_finished_watched_game);
        $('.total_info_table .total_price_finished_watched_games').html(pretty_total_price_of_finished_watched_game + " руб.");

        $('.total_info_table .sum_total_price_games').html(sum_total + " руб.");
    }

    // Функция для изменения цены игры по ее id
    function update_price_game(game_id, game_price) {
        console.log(`update_price_game: #${game_id} -> ${game_price}`);

        window.finished_games.forEach(function(item, i, arr) {
            if (item.id == game_id) {
                console.log('find! ' + item.id + ', old price = ' + item.price);
                item.price = game_price;
            }
        });

        window.finished_watched_games.forEach(function(item, i, arr) {
            if (item.id == game_id) {
                item.price = game_price;
            }
        });

        var game_tr = $(`[game_id = ${game_id}]`);
        var price_td = game_tr.find('.price_cell');

        if (game_price != null) {
            game_tr.removeClass('price_is_none');
            price_td.addClass('price');

            price_td.html(game_price)

        } else {
            game_tr.addClass('price_is_none');
            price_td.removeClass('price');

            price_td.html("Цена не задана")
        }
    }

    // Функция для удаления игры по ее id
    function delete_game(game_id) {
        console.log(`delete_game: #${game_id}`);

        var index = -1;

        window.finished_games.forEach(function(item, i, arr) {
            if (item.id == game_id && index == -1) {
                index = i;
            }
        });
        if (index != -1) {
            window.finished_games.splice(index, 1);
        }

        if (index == -1) {
            window.finished_watched_games.forEach(function(item, i, arr) {
                if (item.id == game_id && index == -1) {
                    index = i;
                }
            });

            if (index != -1) {
                window.finished_watched_games.splice(index, 1);
            }
        }

        $(`[game_id = ${game_id}]`).remove();
    }

    function open_tab_with_steam_search_from_game_id(game_id) {
        // Ищем игру с указанным id и вытаскиваем ее название
        var game = $(`[game_id = ${game_id}] > .name`).text();

        var url = 'http://store.steampowered.com/search/?term=' + game;
        console.log(`open_tab_with_steam_search("${game}") -> ${url}`);

        window.open(url);
    }

    function open_tab_with_yandex_search_from_game_id(game_id) {
        // Ищем игру с указанным id и вытаскиваем ее название
        var game = $(`[game_id = ${game_id}] > .name`).text();

        var url = 'https://yandex.ru/yandsearch?text=' + game;
        console.log(`open_tab_with_yandex_search("${game}") -> ${url}`);

        window.open(url);
    }

    function open_tab_with_google_search_from_game_id(game_id) {
        // Ищем игру с указанным id и вытаскиваем ее название
        var game = $(`[game_id = ${game_id}] > .name`).text();

        var url = 'https://www.google.ru/#newwindow=1&q=' + game;
        console.log(`open_tab_with_google_search("${game}") -> ${url}`);

        window.open(url);
    }

    // Append method sortBy to Array
    // SOURCE: https://stackoverflow.com/a/10124053/5909792
    (function(){
      if (typeof Object.defineProperty === 'function'){
        try{Object.defineProperty(Array.prototype,'sortBy',{value:sb}); }catch(e){}
      }
      if (!Array.prototype.sortBy) Array.prototype.sortBy = sb;

      function sb(f){
        for (var i=this.length;i;){
          var o = this[--i];
          this[i] = [].concat(f.call(o,o,i),o);
        }
        this.sort(function(a,b){
          for (var i=0,len=a.length;i<len;++i){
            if (a[i]!=b[i]) return a[i]<b[i]?-1:1;
          }
          return 0;
        });
        for (var i=this.length;i;){
          this[--i]=this[i][this[i].length-1];
        }
        return this;
      }
    })();

    function onTrClick(tr) {
        // При клике на игру без цены ее название будет вставлено в поле формы "Установка цены у игры:"
        if (tr.classList.contains('price_is_none')) {
            var name = $(tr).children('.name').text();
            $('#form__set_price #form_name').val(name);
        }
    }

    function fillTable(table_id, total_class, items) {
        //console.log("fillTable from " + table_id + ", total_class=" + total_class + ", items: " + JSON.stringify(items));

        var current_sort = $('input[name=radio_sort_by]:checked').val();
        console.log('current_sort: ' + current_sort);

        // Выполнение сортировки
        switch (current_sort) {
            case 'sort_by_name':
                items.sortBy(function(item) {
                    return item.name;
                });
                break;

            case 'sort_by_name_desc':
                items.sortBy(function(item) {
                    return item.name;
                });
                items.reverse();
                break;

            case 'sort_by_append_date':
                items.sortBy(function(item) {
                    return new Date(item.append_date);
                });
                break;

            case 'sort_by_append_date_desc':
                items.sortBy(function(item) {
                    return new Date(item.append_date);
                });
                items.reverse();
                break;

            case 'sort_by_price':
                items.sortBy(function(item) {
                    return parseFloat(item.price);
                });
                break;

            case 'sort_by_price_desc':
                items.sortBy(function(item) {
                    return parseFloat(item.price);
                });
                items.reverse();
                break;
        }

        console.log("sorted items: " + table_id + ", total_class=" + total_class + ", items: " + JSON.stringify(items));

        // Очищение содержимого таблицы
        $(table_id + ' > tbody').remove();

        var tbody = $('<tbody><tr><th>Название</th><th>Дата добавления</th><th>Цена (руб.)</th></tr></tbody>');

        for (var i = 0; i < items.length; i++) {
            var item = items[i];

            var id = item.id;
            var name = item.name;
            var price = item.price;
            var append_date = item.append_date;

            // 2017-06-03 21:21:17 -> 03/06/2017 21:21:17
            var parts = append_date.split(' ')
            var date_parts = parts[0].split('-');
            append_date = date_parts[2] + '/' + date_parts[1] + '/' + date_parts[0] + ' ' + parts[1];

            var tr = $('<tr class="game_row" onclick="onTrClick(this)"></tr>');
            tr.attr("game_id", id);

            var td_name = $('<td class="name"></td>').text(name);
            var td_append_date = $('<td class="append_date"></td>').text(append_date);
            var td_price = $('<td class="price_cell"></td>').text(price);

            if (price == null) {
                tr.addClass('price_is_none');
                td_price.text('Цена не задана');

                // Добавление иконки для поиска игры в стиме
                var img_steam_search = $(`<img src="{{ url_for('static', filename='images/steam_favicon.ico') }}" width="16" height="16"/>`);
                img_steam_search.attr('game_id', id);
                img_steam_search.attr('onclick', 'open_tab_with_steam_search_from_game_id($(this).attr("game_id"))');
                img_steam_search.attr('alt', 'steam');
                img_steam_search.attr('title', 'Поиск игры в стиме');


                // Добавление иконки для поиска игры в яндексе
                var img_yandex_search = $(`<img src="{{ url_for('static', filename='images/yandex_favicon.ico') }}" width="16" height="16"/>`);
                img_yandex_search.attr('game_id', id);
                img_yandex_search.attr('onclick', 'open_tab_with_yandex_search_from_game_id($(this).attr("game_id"))');
                img_yandex_search.attr('alt', 'yandex');
                img_yandex_search.attr('title', 'Поиск игры в яндексе');


                // Добавление иконки для поиска игры в гугле
                var img_google_search = $(`<img src="{{ url_for('static', filename='images/google_favicon.ico') }}" width="16" height="16"/>`);
                img_google_search.attr('game_id', id);
                img_google_search.attr('onclick', 'open_tab_with_google_search_from_game_id($(this).attr("game_id"))');
                img_google_search.attr('alt', 'google');
                img_google_search.attr('title', 'Поиск игры в гугле');

                var buttons_div = $('<div style="display: inline-block; float: right;"></div>');
                buttons_div.append(img_steam_search);
                buttons_div.append("&nbsp;");
                buttons_div.append(img_yandex_search);
                buttons_div.append("&nbsp;");
                buttons_div.append(img_google_search);

                td_price.append(buttons_div);

            } else {
                td_price.addClass('price');
            }

            tr.append(td_name);
            tr.append(td_append_date);
            tr.append(td_price);

            tbody.append(tr);
        }

        tbody.append('<tr><td align="right" colspan="2">Итого:</td><td class="' + total_class + '"></td></tr>');

        $(table_id).append(tbody);
    }

    // Функция возвращает строку с статистикой: сколько всего игр, сколько имеют цены, и процент.
    // Пример: (0 / 160 (0%))
    function statistic_for_table(table_id) {
        var table = $(table_id);

        var price_is_none_rows_number = table.find('.price_is_none').length;
        var all_rows_number = table.find('.game_row').length;
        var number_price_rows = all_rows_number - price_is_none_rows_number;
        var percent = all_rows_number > 0 ? (number_price_rows / all_rows_number * 100) : 0;

        // 99.065 -> 99.1
        percent = percent.toFixed(1);

        // 100.0 -> 100
        percent = percent.toString().replace('.0', '')

        return `(${number_price_rows} / ${all_rows_number} (${percent}%))`
    }

    function fill_statistics() {
        var statistic_1 = statistic_for_table("#finished_game");
        var statistic_2 = statistic_for_table("#finished_watched_game");

        $('.finished_game_statistic').html(statistic_1);
        $('.finished_watched_game_statistic').html(statistic_2);

        // Добавление статистики о количестве игр в таблицах
        $('.number_finished_games').text(finished_games.length + " " + statistic_1);
        $('.number_finished_watched_games').text(finished_watched_games.length + " " + statistic_2);
        $('.sum_number_games').text(finished_games.length + finished_watched_games.length);
    }

    function fillGameTables() {
        fillTable('#finished_game', 'total_price_finished_games', window.finished_games);
        fillTable('#finished_watched_game', 'total_price_finished_watched_games', window.finished_watched_games);

        // Функция для подсчета итоговых сумм всех игр
        update_total_price_all_tables();
    }

    // Функция загружает все игры, перезаполняет таблицы игр, подсчитывает итого и статистику
    function load_tables() {
        $.ajax({
            url: '/get_games',
            dataType: "json",  // тип данных загружаемых с сервера
            success: function(data) {
                console.log(data);
                console.log(JSON.stringify(data));

                var FINISHED = 'Finished';
                var FINISHED_WATCHED = 'Finished watched';

                window.finished_games = data[FINISHED];
                window.finished_watched_games = data[FINISHED_WATCHED];

                // Применение текущего фильтра таблиц
                common_filter();

                // Добавление статистики о играх в таблице
                fill_statistics();
            },

            error: function(data) {
                noty({
                    text: 'Не удалось загрузить игры: на сервере произошла ошибка',
                    type: 'error',
                });
            }
        });
    }

    $(document).ready(function() {
        // По умолчанию, флаги всегда стоят
        $('#checkbox_visible_finished_games').prop('checked', true);
        $('#checkbox_visible_finished_watched_games').prop('checked', true);

        load_tables();

        // Обработка изменения цены конкретной игры
        $("#form__set_price").submit(function() {
            var thisForm = this;

            var url = $(this).attr("action");
            var method = $(this).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(this).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера
                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        var price = data.result.new_price;

                        for (var i = 0; i < data.result.modify_id_games.length; i++) {
                            var game_id = data.result.modify_id_games[i];

                            update_price_game(game_id, price);
                        }

                        common_filter();

                        fill_statistics();

                        // Пересчет цены всех игр
                        update_total_price_all_tables();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });

                    // Очищение полей формы
                    thisForm.reset();
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });

            return false;
        });


        // Обработка переименования игры
        $("#form__rename_game").submit(function() {
            var thisForm = this;

            var url = $(this).attr("action");
            var method = $(this).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(this).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера
                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        // TODO: загружать все таблицы необязательного -- нужно просто обновить название
                        //       в window.finished_games и window.finished_watched_games а после вызвать
                        //       common_filter();

                        // Т.к. после переименования игры ее местоположение в таблице может поменяться
                        // ведь приходят уже отсортированные игры и то, что переименование игры
                        // вызывает проверку ее цены, то пойду простым путем и просто перезагружу
                        // все игры из базы
                        load_tables();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });

                    // Очищение полей формы
                    thisForm.reset();
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });

            return false;
        });


        // Обработка проверки цены игры
        $("#form__check_price").submit(function() {
            var thisForm = this;

            var url = $(this).attr("action");
            var method = $(this).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(this).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера

                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        var id_games = data.result.id_games_with_changed_price;
                        var price = data.result.new_price;

                        for (var i = 0; i < id_games.length; i++) {
                            var game_id = id_games[i];

                            update_price_game(game_id, price);
                        }

                        common_filter();

                        fill_statistics();

                        // Пересчет цены всех игр
                        update_total_price_all_tables();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });

                    // Очищение полей формы
                    thisForm.reset();
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });

            return false;
        });


        // Проверка всех цен игр без цены
        $("#form__check_price_all_non_price_games").submit(function() {
            var thisForm = this;

            var url = $(thisForm).attr("action");
            var method = $(thisForm).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(thisForm).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера
                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        var games = data.result.games_with_changed_price;

                        for (var i = 0; i < games.length; i++) {
                            // Пример: [[145],"Blades of Time","249"]
                            var game = games[i];

                            var id_games = game[0];
                            var price = game[2];

                            for (var j = 0; j < id_games.length; j++) {
                                update_price_game(id_games[j], price);
                            }
                        }

                        common_filter();

                        fill_statistics();

                        // Пересчет цены всех игр
                        update_total_price_all_tables();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',

                        timeout: false,
                    });
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                },

                beforeSend: function() {
                    $(thisForm).find('.loading').show();
                },

                complete: function() {
                    $(thisForm).find('.loading').hide();
                }
            });

            return false;
        });

{#
        // Обработка проверки цены игры
        $("#form__set_null_price").submit(function() {
            var thisForm = this;

            var url = $(this).attr("action");
            var method = $(this).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(this).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера

                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        var id_games = data.result.id_games_with_changed_price;

                        for (var i = 0; i < id_games.length; i++) {
                            var game_id = id_games[i];

                            update_price_game(game_id, null);
                        }

                        common_filter();

                        fill_statistics();

                        // Пересчет цены всех игр
                        update_total_price_all_tables();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });

                    // Очищение полей формы
                    thisForm.reset();
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });

            return false;
        });
#}

        // Обработка удаления конкретной игры
        $("#form__delete_game").submit(function() {
            var thisForm = this;

            var url = $(this).attr("action");
            var method = $(this).attr("method");
            if (method === undefined) {
                method = "get";
            }

            var data = $(this).serialize();

            $.ajax({
                url: url,
                method: method,  // HTTP метод, по умолчанию GET
                data: data,
                dataType: "json",  // тип данных загружаемых с сервера
                success: function(data) {
                    console.log(data);
                    console.log(JSON.stringify(data));

                    var ok = data.status == 'ok';
                    if (ok && data.result) {
                        var id_game = data.result.id_game;

                        delete_game(id_game);

                        // Пересчет цены всех игр
                        update_total_price_all_tables();
                        fill_statistics();
                    }

                    noty({
                        text: data.text,
                        type: ok ? 'success' : 'warning',
                    });

                    // Очищение полей формы
                    thisForm.reset();
                },

                error: function(data) {
                    noty({
                        text: 'На сервере произошла ошибка',
                        type: 'error',
                    });
                }
            });

            return false;
        });

    });
    </script>
</body>
</html>
